/* RESET E VALORI DI DEFAULT */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

/* CLASSI */

/* header */

.black-bg{
    background-color: black;
}

.sony-logo{
    width: 100px;
    padding: 10px 0px;
}

header li{
    padding: 0px 10px;
}

.nav-link{
    color: black !important;
    font-weight: 600;
}

.dropdown-toggle::after{
    display: none !important;
}

.dropdown-arrow, .dropdown-arrow-hover{
    width: 12px;
}

.dropdown-arrow-hover{
    display: none;
}

.navbar a:hover .dropdown-arrow{
    display: none;
}

.navbar a:hover .dropdown-arrow-hover{
    display: inline-block;
}

.dropdown-menu{
    border: none !important;
    border-radius: 0px !important;
}

.btn-dark:hover{
    box-shadow: inset 0px 0px 0px 2px white;
}

/* main */



/* footer */



/* MEDIA QUERIES */

@media screen and (min-width: 1280px){
    .navbar i{
        align-self: center;
    }
}

@media screen and (max-width: 1279px){
    .navbar button{
        width: 100px;
        margin: 15px 0px;
    }
}
