/* RESET E VALORI DI DEFAULT */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

p{
    font-weight: 600;
}

h2{
    font-size: 3rem !important;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #1f91fc; 
}

.navbar::-webkit-scrollbar {
    width: 0px;
}

.navbar::-webkit-scrollbar-track {
    background: none; 
}

.navbar::-webkit-scrollbar-thumb {
    background: none; 
}

/* CLASSI */

/* HEADER */

.black-bg{
    background-color: black;
}

.sony-logo{
    width: 100px;
    padding: 10px 0px;
}

header li{
    padding: 0px 10px;
}

.navbar{
    margin-top: 37px;
}

.nav-link{
    color: black !important;
    font-weight: 600;
}

.dropdown-toggle::after{
    display: none !important;
}

.dropdown-arrow, .dropdown-arrow-hover{
    width: 12px;
}

.dropdown-arrow-hover{
    display: none;
}

.navbar a:hover .dropdown-arrow{
    display: none;
}

.navbar a:hover .dropdown-arrow-hover{
    display: inline-block;
}

.dropdown-menu{
    border: none !important;
    border-radius: 0px !important;
    padding: 15px 0 5px !important;
}

.dropdown-menu li{
    padding: 0 !important;
}

.btn-dark:hover{
    box-shadow: inset 0 0 0 2px white;
}

/* MAIN */

/* section 1 */

.returnal{
    background-image: url('../img/jumbo-bg.png');
    background-position: center;
    background-size: cover;
    height: 900px;
    margin-top: 116px;
}

.returnal img{
    width: 100%;
}

.btn-orange{
    color: white !important;
    background-color: #cd3d10 !important;
}

.btn-orange:hover{
    box-shadow: inset 0 0 0 2px black;
}

/* section 2 */

.cards img{
    width: 100%;
    border-radius: 20px;
}

.cards img:hover{
    box-shadow: 0 0 0 3px white, 0 0 0 6px #1f91fc;
}

/* section 3 */

p.blue{
    color: #1f91fc;
}

p.text-black-50{
    font-size: 1.5rem;
}

/* section 4 */

.btn-blue{
    color: white !important;
    background-color: #2d64e6 !important;
}   

.ps5 .btn-blue{
    width: 210px;
}

.ps5 img{
    max-width: 100%;
}

.accessories img{
    width: 200px;
}

.accessories .col{
    border-bottom: 3px solid white;
    opacity: 0.5;
}

.accessories .col.active{
    border-bottom: 3px solid #2d64e6;
    opacity: 1;
}

.accessories .col:not(.active):hover{
    border-bottom: 3px solid #9c9c9c;
    opacity: 1;
}

/* FOOTER */



/* MEDIA QUERIES */

/* desktop */

@media screen and (min-width: 1280px){
    .navbar i{
        align-self: center;
    }
}

/* phone, tablet */

@media screen and (max-width: 1279px){
    .navbar button{
        width: 100px;
        margin: 15px 0px;
    }
    .dropdown-menu{
        padding: 0 !important;
    }
    .navbar{
        max-height: 70vh;
        overflow-y: scroll;
    }
}
